---
layout: default
description: Skyrim Followers
info:
- whiterun
- riverrun
---
<h1>Compare Followers</h1>
<ul>
{% for city in page.info %}
    {% for location in site.data.skyrim %}
        {% if location.id == city %}
            {% for follower in location.followers %}
                <li class="followers">
                    <div class="name">{{ follower.name }}</div>
                    <div class="race">{{ follower.race }}</div>
                    <div class="class">{{ follower.class }}</div>
                    <div class="marriage">
                        {% if follower.marriage == true %}
                        yes
                        {% else %}
                        no
                        {% endif %}
                    </div>
                    <div class="maxlevel">{{ follower.maxlevel }}</div>
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>