---
layout: default
description: Skyrim Followers
---
<h1>Skyrim Followers</h1>
<button>Clear Chart</button>
<p>Select at least two followers for a detailed comparison.</p>

<input type="text" id="search" placeholder="Search for a follower">

{% for hold in site.data.skyrim %}
    {% for loc in hold.cities %}
    <ul id="search_list">
    <li class="region_title">
        <h2>{{ hold.id }}</h2>
        <h3>{{ loc.location }}</h3>
    </li>
    {% for follower in loc.followers %}
        <li class="followers">
            <div class="thumb">
                {% if follower.wiki %}
                <a href="{{ follower.wiki }}"><img src="images/{{follower.thumb}}" /></a>
                {% else %}
                <a href="images/{{follower.image}}"><img src="images/{{follower.thumb}}" /></a>
                {% endif %}
            </div>
            <div class="name">{{ follower.name }}</div>
            <div class="location">{{ loc.location }}</div>
            <div class="race">{{ follower.race }}</div>
            <div class="class">{{ follower.class }}</div>
            <div class="skills">{{ follower.skills }}</div>
            <div class="marriage">
                {% if follower.marriage == true %}
                Yes
                {% else %}
                No
                {% endif %}
            </div>
            <div class="maxlevel">{{ follower.maxlevel }}</div>
        </li>
    {% endfor %}
    </ul>
    {% endfor %}
{% endfor %}
</ul>