#container {
    width:1500px;
}

h1 {
    margin-left:20px;
}

li.selected, li.row-title {
    width:100px;
    margin-right:50px;
    padding:10px;
    float:left;
    list-style-type:none;
}

li.row-title {
    border:none;
    text-align:right;
    font-weight:bold;
}

li > div {
    display:inline-block;
}

li > div.race, li > div.class, li > div.marriage, li > div.maxlevel {
    display:none;
}

li.selected > div, li.row-title > div {
    display:block;
    height:50px;
}

#masterlist {
    float:left;
    width:200px;
}