#container {
    width:1500px;
    margin-left:20px;
}

h1, #button, p {
    margin:0px;
    text-align:center;
}

p, #button {
    margin-bottom:20px;
    margin-top:20px;
    font-weight:bold;
}

#compare > li, li.row-title {
    width:100px;
    margin-right:50px;
    padding:10px;
    float:left;
    list-style-type:none;
}

li.row-title {
    text-align:right;
    font-weight:bold;
}

#masterlist li > div {
    display:inline-block;
}

#masterlist li > div.race, #masterlist li > div.class, #masterlist li > div.marriage, #masterlist li > div.maxlevel {
    display:none;
}

#compare li > div, li.row-title > div {
    display:block;
    height:50px;
}

#masterlist {
    float:left;
    width:200px;
    border-right:1px dashed black;
    padding-right:20px;
}

#button {
    border:1px solid black;
    background-color:yellow;
    width:100px;
    border-radius:5px;
    padding:10px;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}

#button:hover {
    background-color:red;
    cursor:pointer;
    color:white;
}