body, html {
    background-color:black;
    color:#c0c0c0;
    margin:0;
    padding:0;
}

h1, h2, p {
    margin:10px 0 10px 0;
}

button {
    background-color: #c0c0c0;
    color:black;
}

h1, h2 {
    color:#c0c0c0;
    text-align:center;
}

h1, h2, p, li.row-title {
    font-family: "Goudy Old Style",Garamond,"Big Caslon","Times New Roman",serif;
}

h1, h2, li.row-title, li.followers {
    text-transform: capitalize;
    white-space:normal;
}

p {
    margin-bottom:20px;
    margin-top:20px;
    font-weight:bold;
}

#compare {
    white-space:nowrap;
    margin-left:240px;
    margin-top:0px;
}

#compare li {
    width:100px;
    padding:10px;
    display:inline-block;
}

#compare li.followers {
    border-right:1px solid rgb(66,66,76);
    border-left:1px solid rgb(66,66,76);
}

#compare li.row-title:first-child {
    padding-top:103px;
}

#compare li > div:last-child {
    height:25px !important;
}

div.thumb {
    overflow:hidden !important;
    height:75px !important;
    text-align:center;
    margin-bottom:20px;
}

#compare li.followers {
    cursor:move;
    margin-left:-1px;
}

#compare li > div, li.row-title > div {
    height:100px;
}

li.followers {
    font-family: Arial, Helvetica, sans-serif;
    font-size:10pt;
    color:#576a6b;
}

li.row-title {
    text-align:right;
    font-weight:bold;
}

#masterlist {
    overflow-y:scroll;
    padding:0 20px 0 20px;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    width:200px;
    border-right:1px solid rgb(66,66,76);
}

#masterlist li.followers {
    list-style-type:none;
    padding:10px;
    cursor:pointer;
}

#masterlist li.followers:first-child {
    border-top:1px solid rgb(66,66,76);
}

#masterlist li.followers:hover {
    color:white;
}

#masterlist > ul {
    padding:0;
    margin:0;
}

#masterlist li > div {
    display:none;
}

#masterlist li > div.name {
    display:block;
}

button {
    width:85px;
    display:block;
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
}

.selected {
    color:white !important;
}

.ui-sortable-helper {
    border:none !important;
}

.ui-sortable-placeholder {
    border-right:1px solid rgb(66,66,76);
    border-left:1px solid rgb(66,66,76);
}