<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>        
        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% endif %}
        <link rel="stylesheet" href="/style.css" type="text/css" charset="utf-8">
        <title>{{ page.title }} </title>
    </head>
    
    <script>
    $(document).ready(function(){
        $("li").click(function(){
            $(this).addClass("selected")
            if ( $(this).hasClass("selected") ){
                $('div.compare').append(this);
        });
    });
    </script>

    <body>
        <div id="container">
            <div id="content">
                {{ content }}
            </div>
            <div id="compare"></div>
        </div>
    </body>
</html>