<!DOCTYPE html>
<html>
    <head>
        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% endif %}
        <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="searchfilter.js"></script>
        <script src="skyrim.js"></script>
        <title>{{ page.title }}</title>
    </head>

    <body>
        <div id="container">
            <div id="masterlist">
                {{ content }}
            </div>
            <ul id="compare">
                <li class="row-title">
                    <div>Name</div>
                    <div>Location</div>
                    <div>Race</div>
                    <div>Class</div>
                    <div>Skills</div>
                    <div>Marriage</div>
                    <div>Max Level</div>
                </li>
            </ul>
        </div>
    </body>
</html>